.order-summary {
	display: flex;
	flex-direction: column;
	width: 70%;
	overflow: hidden;
	min-width: 300px;
	margin: 0 2rem 0 4rem;
}

.order-summary p {
	color: #a27f49;
}

.current-services, 
.service-changes {
padding:0 1rem 0 1rem;
}

.changes-display,
.current-services {
	min-height: 120px;
}
.order-summary input {
	position: absolute;
	display: block;
	padding: .4rem;
	font-size: .9rem;
	background: #8EA0B7;
	border: 0;
	text-transform: uppercase;
	color: #102B4F;
	width: 7rem;
	border-radius: 5px;
	text-align: center;
	top: 0;
	left: 0;
	margin: 0;
}

.shiny{
	display: block;
	position: relative;
	width: 6.2rem;
	height: 1.1rem;
	overflow: hidden;
	top: 10px;
	margin: 16px;
	padding: .4rem;
}

.shiny:hover::before {
	position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 10px;
  width: 150px;
  background: #ffffff51;
  transform: rotate(-20deg);
	animation-name: shine;
  animation-duration: 2s;
  animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  animation-iteration-count: infinite;
  z-index: 100;
}
/*.shiny:hover{
	
}*/

@keyframes shine {
  0% {
    top: -20px;
    left: -40px;
  }
  100% {
    top: 50px;
    left: 60px;
  }
}