.account-search {
	min-width: 300px;
}

form {
	display: flex;
	flex-direction: column;
}

.account-search h3 {
	padding-bottom: 1.5rem;
}

.cci, .phone-number {
	padding: 0 1rem;
}
.cci {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
	align-items: center;
}


.phone-number {
	display: flex;
	justify-content: space-between;
}

.account-search input[type='text'] {
	padding: .4rem .4rem .4rem .8rem;
	font-size: .9rem;
	background: #8EA0B7;
	border: 0;
	text-transform: uppercase;
	color: #102B4F;
	width: 7rem;
	border-radius: 5px;
	outline: none;
}

input[type='text']:focus {
	background: lightblue;
}
.account-search input[type="submit"]{
	width: 100%;
	height: 100%;
	/*margin: 1rem;*/
	position: relative;
	display: block;
	top: 0;
	left: 0;
	font-size: .9rem;
	background: #8EA0B7;
	border: 0;
	text-transform: uppercase;
	color: #102B4F;
	border-radius: 5px;
}

.search-shiny{
	position: relative;
	display: block;
	width: 90%;
	height: 2rem;
	overflow: hidden;
	margin: 16px;
}

.search-shiny:hover::before {
	position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  content: "";
  height: 3rem;
  width: 120%;
  background: linear-gradient( 
  	rgba(255,255,255,0) 0%,
  	rgba(255,255,255,0.03) 1%,
  	rgba(255,255,255,0.6) 30%,
  	rgba(255,255,255,0.85) 50%,
  	rgba(255,255,255,0.85) 70%,
  	rgba(255,255,255,0.85) 71%,
  	rgba(255,255,255,0) 100%
  );
  transform: rotate(-20deg);
	animation: search-shine 2s;
  animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  animation-iteration-count: infinite;
  z-index: 100;
}


@keyframes search-shine {
	0%  { left: -80px; top: -30px; opacity: 0; }
	5% {opacity: 0.3}
	48% {opacity: 0.6}
	80% {opacity: 0.0}
	100% { left: 110px; top: 50px;}
}

@media Print {
  .account-search {
    display: none;
  }
}