.order-summary {
	display: flex;
	flex-direction: column;
	width: 70%;
	overflow: hidden;
	min-width: 300px;
	margin: 0 2rem 0 4rem;
}

.order-summary p {
	color: #a27f49;
}

.current-services, 
.service-changes {
padding:0 1rem 0 1rem;
}

.changes-display,
.current-services {
	min-height: 120px;
}
.order-summary input {
	position: absolute;
	display: block;
	font-size: .9rem;
	background: #8EA0B7;
	border: 0;
	text-transform: uppercase;
	color: #102B4F;
	width: 7rem;
	height: 1.9rem;
	border-radius: 5px;
	text-align: center;
	top: 0;
	left: 0;
	margin: 0;
}

.order-summary-shiny{
	display: block;
	position: relative;
	width: 7rem;
	height: 1.9rem;
	overflow: hidden;
	top: 0px;
	margin: 16px;
}

.order-summary-shiny:hover::before {
	position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 1rem;
  width: 150px;
  background: linear-gradient(  
  	rgba(255,255,255,0) 0%,
  	rgba(255,255,255,0.03) 1%,
  	rgba(255,255,255,0.6) 30%,
  	rgba(255,255,255,0.85) 50%,
  	rgba(255,255,255,0.85) 70%,
  	rgba(255,255,255,0.85) 71%,
  	rgba(255,255,255,0) 100%
  );
  transform: rotate(-20deg);
	animation-name: shine;
  animation-duration: 2s;
  animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  animation-iteration-count: infinite;
  z-index: 100;
}


@keyframes shine {
	0%  { left: -40px; top: -20px; opacity: 0; }
	5% {opacity: 0.0}
	48% {opacity: 0.6}
	80% {opacity: 0.0}
	100% { left: 60px; top: 50px;}
}

