*, *:after, *before {
	box-sizing: border-box;
	font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1500px;
  background: #03162E;
  color: #c8c8c8;
  line-height: 30px;
	overflow-x: hidden;
	margin-right: 1rem;
}